.nav{
    min-height: 42px;
    background-color: rgb(210, 82, 82);
    display: flex;
    justify-content: space-between ;
}
.nav-list{
    padding-left: 0;
    margin:  auto 16px;
}
.nav-item{
    color: #fff;
    list-style-type: none;
    margin: 0 8px;
    display: inline-block;
}
/*  layout form */
.form{
    max-width: 800px;
    max-height: 200px;
}
.form-container{
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto ;
    background-color: #fff;
}

.form__row{
    padding: 8px 0;
    display: flex;
}

.form__label{
    min-width: 90px;
}
.form__input{
    flex: 1;
}
/* column layout */
.column-layout{
    margin-top: 36px;
    padding: 12px 0;
    background-color: #fff;
    display: flex;
}

.column_item{
    padding: 0 16px;
   
}

.sidebar-one{
    flex: 2;
}
.sidebar-two{
    flex: 1;
}
.main-column{
    flex: 1;
}